@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}

h1{
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2{
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4{
    font-size: 20px;
    color: #222;
}

h6{
    font-weight: 700;
    /* color: #222; */
    font-size: 12px;
}

p{
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
}

.section-p1{
    padding: 40px 50px;
}

.section-m1{
    margin: 40px 0;
}

button.normal{
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: black;
    background-color: white;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

body{
    width: 100%;
}

/* Header Section */

#header{
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 9px 65px;
    background-color: #E3E6F3;
    /* box-shadow: x,y,radius,color */
    box-shadow: 0 5px 15px rgba(0,0, 0, 0.06);
    top: 0;
    position: sticky;
}

#header img{
    width: 51px;
    border-radius: 53px;
    filter: drop-shadow(2px 4px 6px black);
}

#list{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    
}

#list li{
    list-style: none; 
    padding: 0px 23px;
}
#list li a{
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    color: #1a1a1a;
    transition: 0.3 ease;
    position: relative;
}

#navbar ul li a::after{
    content: '';
    width: 0;
    position: absolute;
    background: #1a1a1a;
    transition: 0.3s all;
    height: 1px;
    bottom: -4px;
    left: 0px;
}

#navbar ul li a:hover::after {
    width: 100%;
}

#list li a:hover{
    color: #088178;
}

/* Home Page */

#hero{
    background-image:  url('../images/hero4.png') ;
    
    /* background-repeat: no-repeat; */
    background-position: top 25% right 0;
    background-size: cover;
    height: 90vh;
    width: 100%;
    padding: 0 80px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
}

#hero h4{
    padding-bottom: 15px;
}

#hero h1{
    color: #088178;
}

#hero button{
    background-image: url("../images/button.png");
    background-color: transparent;
    color: #088178;
    border: 0;
    padding: 16px 77px;
    background-repeat: no-repeat;
    font-size: 18px;
    cursor: pointer;
    font-weight: 600;
}

#feature{
    display: flex;
    /* give space between items */
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

#feature .fe-box{
    width: 180px;
    text-align: center;
    padding: 25px 15px;
    box-shadow: 20px 20px 34px rgba(0,0, 0, 0.03);
    border: 1px solid #cce7d0;
    border-radius: 8px;
    margin: 15px 0px;
}

#feature .fe-box:hover{
    box-shadow: 10px 10px 54px rgba(70, 62, 221, 0.1);
}

#feature .fe-box img{
    margin-bottom: 10px;
    width: 100%;
}

#feature .fe-box h6{
    display: inline-block;
    padding: 9px 8px 6px 8px;
    line-height: 1px;
    color: #088178;
    border-radius: 4px;
    background-color: #fddde4;
}

#feature .fe-box:nth-child(2) h6{
    background-color: #cdebbc;
}
#feature .fe-box:nth-child(3) h6{
    background-color: #d1e8f2;
}
#feature .fe-box:nth-child(4) h6{
    background-color: #cdd4f8;
}
#feature .fe-box:nth-child(5) h6{
    background-color: #f6dbf6;
}
#feature .fe-box:nth-child(6) h6{
    background-color: #fff2e5;
}

/* Product page */
#product1{
    text-align: center;
}

#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
    border-radius: 27px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.2);
    margin: 15px 0;
    transition: 0.3s ease;
    /* for cart button */
    position: relative;
}

#product1 .pro:hover{
    box-shadow: 20px 20px 30px rgba(0,0,0,0.1);
    
}

#product1 .pro img{
    width: 100%;
    border-radius: 20px;
}

#product1 .pro .des{
    text-align: start;
    padding: 10px 0;

}

#product1 .pro .des span{
    color: #606063;
    font-size: 12px;
}

#product1 .pro .des h5{
    padding-top: 7px;
    color: #1a1a1a;
    font-size: 14px;
}

#product1 .pro .des i{
    color: rgb(243, 181, 25);
    font-size: 12px;
    padding-top: 4px;
}
#product1 .pro .des h4{
    padding-top: 7px;
    font-size: 15px;
    font-weight: 700;
    color: #088178;
}

#product1 .pro .cart{
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50px;
    background-color: #e8f6ea;
    color: #088178;
    border: 1px solid #cce7d0;
    position: absolute;
    bottom: 12px;
    right: 26px;
}

#product1 .pro-container{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    flex-wrap: wrap;
}

#banner{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../images/banner/newb10.jpg);
    height: 45vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

#banner h4{
    font-size: 16px;
    color: white;
}
#banner h2{
    font-size: 30px;
    color: white;
    padding: 10px 0;
}

#banner h2 span{
    color: #4a0202;
}

.normal:hover{
    background-color: #088178;
    color: white;
}

