@import url('https://fonts.googleapis.com/css2?family=Abyssinica+SIL&family=Alkalami&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* font-family: 'League Spartan', sans-serif; */
    font-family: 'Abyssinica SIL', serif;
}

/* Common css */


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
    font-family: 'Alkalami', serif;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
    font-family: 'Alkalami', serif;
}

h3{
    font-size: 30px;
    line-height: 30px;
    color: #222;
    font-family: 'Alkalami', serif;
}

h4 {
    font-size: 20px;
    color: #222;
    font-family: 'Alkalami', serif;
}

h6 {
    font-weight: 700;
    font-size: 12px;
    font-family: 'Alkalami', serif;
}

p {
    font-size: 16px;
    color: #465b52;
    margin: 15px 0 20px 0;
    font-family: 'Abyssinica SIL', serif;
}

.section-p1 {
    padding: 40px 50px;
}

.section-m1 {
    margin: 40px 0;
}

body{
    width: 100%;
}


.btn{
    font-size: 15px;
    padding: 11px 21px;
    color: white;
    border: 1px solid lightgray;
    background: transparent;
    cursor: pointer;
    transition: 1.1s all;
}

.btn:hover{
    color: black;
    background-color: white;
}


/************************--Main CSS--**********************/

/* Header-section */

#header{
    z-index: 1;
    display: flex;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
    top: 0;
    position: sticky;
    padding: 30px 48px;
    background-color: #f9fff8;
}

#list {
    display: flex;
    flex-direction: row;
    position: relative;
}

#list li{
    list-style: none;
}

#list li a{
    text-decoration: none;
    padding: 13px;
    color: #222;
}

#header .sideMenu{
    display: flex;
    flex-direction: row;
}

#header .sideMenu li{
    list-style: none;
    padding: 0px 7px;
}

#header .sideMenu li a{
    text-decoration: none;
    color: #222;
}

#header .sideMenu li:nth-child(1) a{
    font-size: 13px;
}

/* About section */
#about {
    display: flex;
    /* justify-content: space-between; */
}

#about .main-banner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .main-banner .leftBanner 
{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-image: url(../images/mix/left-banner-image.jpg);
    height: 82vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 155%;
    padding: 0 70px;
}

#about .left{
    width: 30%;
}

#about .main-banner .right{
    width: 50%;
    flex-wrap: wrap;
}

#about .leftBanner h2{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
}

#about .leftBanner p{
    color: #fff;
    font-size:15px;
    font-weight: 500;
}

#about .rightBanner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#about .rightBanner .im1:nth-child(1){
    background-image: url(../images/mix/baner-right-image-03.jpg);
}
#about .rightBanner .im1:nth-child(2){
    background-image: url(../images/mix/baner-right-image-02.jpg);
}
#about .rightBanner .im1:nth-child(3){
    background-image: url(../images/mix/baner-right-image-01.jpg);
}
#about .rightBanner .im1:nth-child(4){
    background-image: url(../images/mix/baner-right-image-04.jpg);
}

#about .rightBanner .im1{
    width: 45%;
    height: 39vh;
    padding: 67px 20px;
    margin: 12px 12px;
    align-items: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.im1 h2{
    font-size: 30px;
    color: white;
    font-weight: 700;
}

.im1 p{
    font-size: 15px;
    color: white;
    font-weight: 400;
}


/* New product section */

#newProduct .text
{
    display: flex;
    justify-content: space-between;
}

#newProduct .text ul{
    display: flex;
    flex-direction: row;
}

#newProduct .text ul li{
    list-style: none;
    padding: 0 20px;
}

#newProduct .text ul li a{
    text-decoration: none;
    color: black;
}

#newProduct .pro{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    width: 100%;
    /* justify-content: space-between;
    flex-wrap: wrap; */
    overflow-x: auto;
}

#newProduct .pro .proImg{
    width: 25%;
    padding: 10px 20px;
    /* position: relative; */
}

#newProduct .proImg{
    min-width: 244px;
    border: 1px solid #cce7d0;
    border-radius: 27px;
    cursor: pointer;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.1);
    margin: 20px 10px;
}

#newProduct .proImg img{
    border-radius: 27px;
}

#newProduct .set{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#newProduct .pro .proImg img{
   width: 100%;
   padding-bottom: 15px;
}

#newProduct .pro .cart{
    padding-right: 10px;
    color: black;
}


#newProduct .proImgIn .star{
    padding-top: 7px;
    color: goldenrod;
    font-size: 13px;
}

#newProduct .proImgIn h4{
    padding-top: 5px;
    font-size: 15px;
    color: lightgray;
}


#newProduct .loaddiv{
    padding-top: 20px;
    /* justify-content: center; */
    text-align: center;
}

.load{
    color: black;
    background-color: lightgray;
    font-family: 'Abyssinica SIL', serif;
    border-radius: 10px;
}

.load:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}