/* 1021 349 */

@media only screen and (max-width:1021px) {
    .background1 {
        /* height: 101vh; */
    }

    .nav-list {
        flex-direction: column;

    }

    .nav-list li a {
        font-size: 1.3rem;
    }

    .navbar {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        /* float: left; */
        /* padding: 0px 27px; */
        /* width: 9px; */
        /* max-height: 93vh; */

    }

    .logo {
        /* margin: 9px 564px; */
        width: 112px;
        height: 41px;
    }

    .right-nav {
        /* flex-direction: column; */
        display: block;
        width: 178px;
    }

    #search {
        /* max-width: 154px; */
        /* margin: 1px 175px; */
        height: 21px;
    }

    .btn-sm {
        /* margin: 13px 120px; */
        /* width: auto; */
        margin-top: 12px;
    }

    .section{
        flex-direction: column;
    }

    
}