@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital@1&family=Libre+Baskerville:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Baloo+2&family=Caveat&display=swap');

* {
    padding: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}

/* Navigation bar */

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    background-color: black;
    /* sticky navbar */
    top: 0;
    position: sticky;
}

.logo {
    width: 15%;
    padding: 7px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.logo img {
    background: rgba(0, 0, 0, 0.5);
    height: 38px;
    width: 27%;
    border: 2px solid white;
    border-radius: 27px;
}

.nav-list {
    padding: 4px 0px;
    display: flex;
    width: 150%;
    /* background-color: black; */
    /* justify-content: center;
    text-align: center; */

}

.nav-list li {
    list-style: none;
    padding: 14px 34px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.nav-list li a {
    text-decoration: none;
    color: white;
    /* padding: 11px 34px; */
    font-size: 18px;
    /* font-family: 'Libre Baskerville', serif; */
    font-family: 'Baloo 2', cursive;
    
}

.nav-list li a:hover {
    color: grey;
    /* text-decoration:underline; */
}

.right-nav {
    /* background-color: violet; */
    width: 50%;
    text-align: right;
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 12px 0px;
}

#search {
    border: 0px;
    display: flex;
    outline: none;
    margin: 1px 8px;
    /* background-color: green; */
    color: white;
    border-radius: 10px;
    justify-content: center;
    /* text-align: center; */
    padding: 4px 11px;
}

.btn-sm {
    /* padding: 8px 6px; */
    margin: 2px 0px;
    width: 76px;
    height: 34px;
    border-radius: 10px;
    background-color: green;
    color: white;
    outline: none;
    margin-top: 4px;
    font-family: 'Caveat', cursive;
}

.background1 {
    background: rgba(0, 0, 0, 0.5) url('../bg/bg1.jpg') no-repeat center center;
    background-size: cover;
    background-blend-mode: darken;
    top: 0;
}



.firstSection {
    /* justify-content: center; */
    height: 90vh;
    /* display: flex; */
    text-align: center;
    /* align-items: center; */
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: cursive;
    padding: 130px 20px;
    /* to align component of box-main center */
    max-width: 50%;
    margin: auto;
}

.firstHalf {
    /* width: 80%; */
    min-width: 116%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/* .secondHalf{
    
} */

.secondHalf img {
    width: 80%;
    height: 110px;
    border-radius: 110px;
    border: 2px solid white;
    display: block;
    margin: auto;
}


.big-text {
    /* margin: 10px 10px; */
    font-size: 2rem;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

.small-text {
    margin: 17px 0px;
    text-align: center;
    /* font-family: 'EB Garamond', serif; */
    font-family: 'Baloo 2', cursive;
}


.buttons button {
    padding: 7px 28px;
    margin: 5px;
    border-radius: 6px;
    border: 2px solid white;
    background: none;
    outline: none;
    cursor: pointer;
    /* background-color: #bb9b9b; */
    color: white;
    font-family: 'Caveat', cursive;
}

.buttons button:hover {
    background-color: azure;
    color: black;
}

.section {
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    max-width: 1055px;
    margin: auto;
}

.sec-left {
    flex-direction: row-reverse;
}

.thumbnail img {
    max-width: 150px;
    max-height: 170px;
    margin-top: 39px;
    border-radius: 13px;
}

.paras {
    padding: 0px 31px;
}

.text-center{
    justify-content: center;
    text-align: center;
  
}

.contact{
    height: 60vh;
    background-color:  #dedad6;
    padding: 40px 0px;
}

.form{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    max-width: 50%;
    margin: auto;
}

.form input{
    padding: 11px 22px;
    margin: 8px 67px;
    border: 2px solid black;
    border-radius: 7px;
    outline: none;
}

#form-submit{
    cursor: pointer;
    width: 80px;
    height: 36px;
    margin: auto;
    padding: 10px;
}