@import url('https://fonts.googleapis.com/css2?family=Yeon+Sung&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DynaPuff&family=Moon+Dance&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

.img1{
    /* padding: 0px 32px; */
    margin: 1px -15px;
    height: 5px;
    cursor: pointer;
}

.login{
    float: right;
    /* position: relative; */
    /* height: 5px; */
    padding: 4px 21px;
    margin: -27px -44px;

    border: 2px solid #843f84;
    border-radius: 13px;
    background: #73367a;
    height: 30px;
    font-family: 'Yeon Sung', cursive;
    color: white;
    font-size: 12px;
    transition: all 0.5s;
    cursor: pointer;
}

.login:hover{
    color: #460a46;
    opacity: 1;
    right: 0;
    background-color:#843f84 ;
}

#navbar{
    padding: 14px 82px;
    background-color: #460a46;
    font-family: 'Yeon Sung', cursive;
    overflow: hidden;
    /* To make navbar sticky */
    position: sticky;
    top: 0;
}
#navbar ul{
    /* below there lines are must */
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#navbar li{
    list-style: none;
}

#navbar li a{
    text-decoration: none;
    padding: 10px 37px;
    color: white;
    font-size: 17px;
}

#navbar li a:hover{
    color: pink;
}

#introSection{

    background: center/cover no-repeat url('/static/vadim-fomenok-ey00cTlefaE-unsplash.jpg');
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 520px;
    background-color: yellow;
    font-family: 'DynaPuff', cursive;
    font-size: 35px;
    padding-bottom: 60px; /*to change dir of div*/
}

#introSection div.small{
    font-size: 20px;
    padding: 10px 10px;
}

#introSection div.small p{
    font-size: 17px;
    /* text-align: center;
    justify-content: center; */
    font-family: 'Moon Dance', cursive;
}

#introSection .btn{
    padding: 6px 25px;
    color: orchid;
    background-color: purple;
    border-radius: 5px;
    border: 1px solid #c10ea8;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    transition: all 0.5s;
}

#introSection .btn:hover{
    color: #460a46;
    opacity: 1;
    right: 0;
}

#missionSection{
    height: 350px;
}

#missionSection h2{
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
    padding-top: 10px;
    color: black;
}

.card{
    /* to settle all the cards in one row set display as inline block */
    display: inline-block; 
    border: 2px solid black;
    border-radius: 10px;
    width: 24%;
    margin: 17px 58px;
    height: 222px;
}

.card h3{
    /* font-size: 10px; */
    margin: 11px 0px;
    text-align: center;
    font-family: 'DynaPuff', cursive;
}

.card-box{
    display: flex;
    align-items: center;  /*to make vertically center*/
    justify-content: space-between;
}

.card-img{
    height: 115px;
    padding: 0px 7px;
    margin: 26px 0px;
}

.card-img img{
     /*images became small and maintain them self inside the div container*/
    height: inherit; 
}

.card-content{
    padding: 0px 17px;
}

.card-content p{
    font-size: 12px;
    font-family: 'DynaPuff', cursive;
    font-weight: lighter;
}

#sponserSection{
    height: 300px;
    background-color: #3c053c;
}

#sponserSection h3{
    text-align: center;
    font-family: 'Yeon Sung', cursive;
    font-size: 30px;
    padding-top: 10px;
    color: white;
}

#sponsers{
    height: 120px;
    max-width: 1000px;
    margin: auto;
}

#sponsers .spImage{
    height: 111%;
    margin: 31px 31px;
    border-radius: 4px;
}

#footer{
    height: 245px;
    /* background-color: #450d39; */
    background-color: #3c053c;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}

.soImage{
    padding: 7px 30px;
    /* height: 2%; */
    max-width: 95px;
    margin: 8px -7px;
    /* to invert color of the image */
    filter: invert(1);
}

hr{
    padding: 0px 0px;
    background-color: #fc15e1;
    margin: -1px 35px;
}

#foot{
    margin-top: 10px;
}

#foot ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
}
#foot ul li{
    list-style: none;
}

#foot ul li a{
    text-decoration: none;
    color: white;
    padding: 0px 5px;
    font-family: 'Yeon Sung', cursive;
}

.ft1{
    padding: 4px 18px;
}

#foot p{
    padding: 9px 10px;
    font-family: 'Yeon Sung', cursive;
}